body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

#correct-answer-button, #next-button{
    display: none;
}

.quiz-container {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: 75vw;
    padding: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    color: #333;
    font-size: 3em;
}

.question {
    margin-bottom: 20px;
    font-size: 2em;
}

.answers-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1500px;
}

.answer {
    width: 46%; /* Adjust the width to leave more space for larger buttons */
    margin: 2%; /* Adjust the margin accordingly */
    padding: 15px;
    font-size: 2em; /* Set the font size to 20 pixels */
    background-color: black;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.answer:hover {
    background-color: #45a049;
}

.button {
    margin-top: 20px;
    font-size: 24px; /* Set the font size to 24 pixels */
    padding: 15px 30px; /* Add padding to make the buttons larger */
    background-color: black;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.button:hover {
    background-color: #45a049;
}

.hide {
    display: none;
}